.home-container {
    background-color: #f4efef;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.places-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

@media screen and (max-width: 800px) {

    .home-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .places-container {
        margin: 50px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}

@media screen and (max-width: 550px) {


    .places-container {
        margin: 50px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
}